body{
    background-color: #353535;
}

/* Cabeçalho */
div.tr {
    position: relative;
    background-color: transparent;
    height: 60px;
    top: -470px;
    margin-top: -4px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

/* Estilo do cabeçalho com o menu */
div.menu {
    position: relative;
    width: 500px;
}

div.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -12px;
}

div.menu h1{ 
    display: none;
}

.botao-color-two {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    transition: background-color 0.2s;
    font-size: 22px;
    font-family: 'Calibri';
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.botao-color-two {
    position: relative;
    top: 15.5px;
    left: 490px;
}

@media screen and (min-width: 1440px){
    .botao-color-two{
        left: 580px;
    }
}


.botao-color-two:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    border: 3px solid #000;
}

.botao-cont {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    transition: background-color 0.2s;
    font-size: 22px;
    font-family: 'Calibri';
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.botao-cont {
    position: relative;
    top: -10.8px;
    margin-left: 740px;
}

@media screen and (min-width: 1440px){
    .botao-cont {
        left: 100px;
    }
}

.botao-cont:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    border: 3px solid #000;
}



















a,img {
    position: fixed;
    border: none;
    width: 100%;
    height: 808px;
    margin-left: -4px;
    top: -150px;
}

.trs {
    -webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;
}  

#slider {
    position: relative; 
}

#slider a { 
    position: absolute;
    top: 0; 
    left: 0; 
    opacity: 0;
    filter:alpha(opacity=0);
}

.ativo {
    opacity: 1!important; 
    filter: alpha(opacity=100)!important;
}

figure:hover span {
    opacity: 0.76;
    filter:alpha(opacity=76);
}
    
figure {
    max-width: 100%;
    height: 650px;
    position: fixed;
    overflow: hidden;
    margin: 0px auto;
}





















.formulario{
    position: relative;
    left: 515px;
    top: 105px;
    border: 3px solid black; 
    width: 320px;
    height: 440px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8)
}

@media screen and (min-width: 1440px){
    .formulario{
        left: 620px;
    }
}

.campo-nome label{
    color: #fff;
    font-size: 22px;
}

.campo-nome input{
    color: black;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    margin-bottom: 10px;
}

.campo-cpf label{
    color: #fff;
    font-size: 22px;
}

.campo-cpf input{
    color: black;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    margin-bottom: 10px;
}

.campo-nasc label{
    color: #fff;
    font-size: 22px;
}

.campo-nasc input{
    color: black;
    font-weight: 600;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 5px 5px 5px 15px;
    width: 160px;
    margin-bottom: 10px;
}

.campo-tel label{
    color: #fff;
    font-size: 22px;
}

.campo-tel input{
    color: black;
    font-family: 'Calibri';
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    margin-bottom: 10px;
}

.campo-email label{
    color: #fff;
    font-size: 22px;
}

.campo-email input{
    color: black;
    font-family: 'Calibri';
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    margin-bottom: 25px;
}






.botaoEnv {
    position: relative;
    width: 115px;
    padding: 10px 25px;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #fff;
}

.botaoEnv:hover{
    border: 2px solid #000;
}

.botaoCan {
    position: relative;
    width: 115px;
    padding: 10px 25px;
    left: 78px;
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #fff;
}

.botaoCan:hover{
    border: 2px solid #000;
}


