
@media screen and (min-width: 1440px){

    img.te1{
        width: 100.5%; 
        height: 700px;
    }

    header.col{
        height: 400px;
    }

    .row .scrpiti{
        width: 75%;
        left: 9px;
    }

    .qntdQ{
        left: 175px;
    }

    .qntdR{
        left: 375px;
    } 

    .img-hotel2{
        left: 9px;

    }

    button{	
	    left: 32.5%;
    }

    .row2 .season2{
        width: 700px;
        top: 55px;
        right: 90px;
    }

    div.menu ul {
        left: 452px; 
    }

    .frase{
        left: 30%;
    }

    .img-Suite3 img{
        padding-left: 250px;
    }

    .img-Suite2 img{
        padding-left: 250px;
    }

    .img-Suite1 img{
        padding-left: 250px;
    }
    
}